{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
"{{ quiz.title }}" details
{% endblock %}

{% block content %}
<h2>"{{ quiz.title }}" details</h2>
<small class="text-muted">Created: {{ quiz.created|date:"F d, Y" }} | Category:
  <a href="{% url 'quizzes:list' %}?category={{ quiz.category.slug }}">{{ quiz.category.title }}</a></small>
<hr>
<p>
  <img src="{{ quiz.author.profile.photo|thumbnail_url:'avatar_thumbnail' }}" alt="author avatar" class="rounded-circle">
  <a href="{% url 'quizzes:list' %}?author={{ quiz.author.username }}">
    <span class="h4 ml-2 align-middle">{{ quiz.author.username }}</span>
  </a>
</p>
<hr>
<p>{{ quiz.description|linebreaksbr }}</p>
<p>Average score: <strong>{{ quiz.get_average_score }}%</strong> |
  <strong>{{ quiz.likes }}</strong> like{{ quiz.likes|pluralize }}</p>
<hr>
<a href="{% url 'quizzes:take' quiz.slug %}" class="btn btn-primary">Take the quiz</a>
<a href="{% url 'quizzes:list' %}" class="btn btn-outline-primary">Back to the quizzes list</a>
{% endblock %}