{% extends 'base.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}
Quizzes list
{% endblock %}

{% block content %}
<h2>Quizzes list</h2>
<hr>
<form>
  {{ sort_filter_form|crispy }}
  <input type="submit" value="Filter" class="btn btn-outline-primary">
</form>
<hr>
<div class="row justify-content-center">
  {% for quiz in quizzes %}
    <div class="col-xl-4 col-md-6 my-3">
      <div class="card" style="width: 20em">
        <img src="{{ quiz.thumbnail|thumbnail_url:'quiz_thumbnail' }}" class="card-img-top" alt="quiz thumbnail">
        <div class="card-body">
          <h5 class="card-title">{{ quiz.title }}</h5>
          <p class="card-text" style="height: 3em;">{{ quiz.description|truncatechars:50 }}</p>
          <a href="{% url 'quizzes:take' quiz.slug %}" class="btn btn-primary">Take the quiz</a>
          <a href="{{ quiz.get_absolute_url }}" class="btn btn-outline-primary">More info</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>There are no quizzes that matches your filters.</p>
  {% endfor %}
</div>

{% if page_obj.paginator.num_pages > 1 %}
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_obj.number|add:'-1' }}&author={{ author_username }}&category={{ category_slug }}&sorting={{ sorting }}">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% for page_num in page_obj.paginator.page_range %}
      {% if page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
      <li class="page-item {% if page_obj.number ==  page_num %}active{% endif %}">
        <a class="page-link" href="?page={{ page_num }}&author={{ author_username }}&category={{ category_slug }}&sorting={{ sorting }}">
        {{ page_num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_obj.number|add:'1' }}&author={{ author_username }}&category={{ category_slug }}&sorting={{ sorting }}">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
