{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load easy_thumbnails_tags %}

{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
<h1>{{ quiz.title }}</h1>
<form method="post">
  {% for f in form %}
    <hr>
    {% if f.image %}
      <img src="{{ f.image|thumbnail_url:'question_image' }}" alt="question image" class="my-2">
    {% endif %}
    <p class="h3">{{ forloop.counter}}. {{ f.question_body }}</p>
    <div class="ml-4">
      {{ f|crispy }}
    </div>
  {% endfor %}
  {{ form.management_form }}
  {% csrf_token %}
  <input type="submit" value="Check your answers" class="btn btn-primary">
</form>
{{ result }}
{% endblock %}